<div class="jumbotron" data-ng-show="!submitted">
  <h1>Order Formular</h1>
  <div class="container">
  <form class="form-horizontal" data-ng-show="!submitted">
    <div class="form-group">
      <label class="control-label col-sm-2" for="email">Email:</label>
      <div class="col-sm-10">
        <input type="email" class="form-control" id="email" placeholder="Enter Email" data-ng-model="newOrder.orderDetails.email">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="title">Title:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="title" placeholder="Enter Title" data-ng-model="newOrder.orderDetails.title">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="prioritySelect">Priority:</label>
      <div class="col-sm-10">
        <select name="prioritySelect" id="prioritySelect" data-ng-model="priority">
          <option data-ng-repeat="priorityValue in priorities" value="{{priorityValue.value}}">{{priorityValue.name}}</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="description">Description:</label>
      <div class="col-sm-10">
        <textarea class="form-control" id="description" rows="5" placeholder="Enter Description" data-ng-model="newOrder.orderDetails.description"></textarea>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-lg btn-success" data-ng-click="create()">Submit Order!</button>
      </div>
    </div>
  </form>
  </div>
</div>
<div class="jumbotron" data-ng-show="submitted">
  <h2>{{infoText}}</h2>
</div>

<div class="row marketing">

</div>
