<div class="jumbotron">

  <form class="form-horizontal">
    <div class="form-group">
      <label class="control-label col-sm-2" for="token">Token:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="token" placeholder="Enter Token" data-ng-model="data.token">
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-1 col-sm-10">
        <button type="submit" class="btn btn-info" data-ng-click="getOrder()">Check status of order</button>
      </div>
    </div>
  </form>
  <div class="container" data-ng-if="tokenReceived">
    <h3>Order: {{data.token}}</h3>
    <br/>
    <h4>Status: {{order.orderDetails.status}} </h4>
  </div>
</div>