<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:fragment="header">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Order Confirmation - Biolytix (WFM Group6)</title>
  <style type="text/css">

    h2{
      text-align:center;
      color:#333333;
      font-size:30px;
      font-weight:normal;
    }

    h3{
      text-align:left;
      color:#333333;
      font-size:18px;
      font-weight:normal;
      line-height:25px;
    }

    h4{
      text-align:left;
      color:#000000;
      font-size:16px;
      font-weight:normal;
    }
    div,p,ul,h1,h3{
      margin:0;
    }

  </style>
</head>
<body paddingwidth="0" paddingheight="0"   style="padding-top: 0; padding-bottom: 0; padding-top: 0; padding-bottom: 0; background-repeat: repeat; width: 100% !important; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; -webkit-font-smoothing: antialiased;" offset="0" toppadding="0" leftpadding="0">
<table width="100%" border="0" cellspacing="0" cellpadding="0" class="tableContent bgBody" align="center"  style='font-family:Helvetica, Arial,serif;'>


  <tr><td height='35'></td></tr>

  <tr>
    <td>
      <table width="600" border="0" cellspacing="0" cellpadding="0" align="center" class='bgItem'>
        <tr>
          <td width='40'></td>
          <td width='520'>
            <table width="520" border="0" cellspacing="0" cellpadding="0" align="center">

              <!-- =============================== Header ====================================== -->


              <tr><td height='60'></td></tr>
              <!-- =============================== Body ====================================== -->

              <tr>
                <td class='movableContentContainer' valign='top'>

                  <div class='movableContent'>
                    <table width="520" border="0" cellspacing="0" cellpadding="0" align="center">
                      <tr><td height='20'></td></tr>
                      <tr>
                        <td align='left'>
                          <div class="contentEditableContainer contentTextEditable">
                            <div class="contentEditable">
                              <h2>Confirmation</h2>
                            </div>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td align='left'>
                          <div class="contentEditableContainer contentTextEditable">
                            <div class="contentEditable" align='center'>
                              <h4 align="left">
                                Greetings customer!
                              </h4>
                              <div align='left'>
                                <table>
                                  <tr>
                                    <td align='left' colspan = "2">
                                      <div class="contentEditableContainer contentTextEditable">
                                        <div class="contentEditable">
                                          <p style='text-align:left;color:#000000;font-size:14px;font-weight:normal;line-height:19px;'>
                                            You have successfully submitted an order on
                                            <span th:text="${#dates.format(orderDate, 'dd.MM.yyyy')}">28-12-2012</span>
                                          </p>
                                        </div>
                                      </div>
                                    </td>
                                  </tr>


                                  <tr>
                                    <td align='left' colspan = "2">
                                      <div class="contentEditableContainer contentTextEditable">
                                        <div class="contentEditable">
                                          <p style='text-align:left;color:#000000;font-size:14px;font-weight:normal;line-height:19px;'>
                                            To track the status of your order and to submit a sample, please use the following token to associate with your current order
                                          </p>
                                          <br/>
                                          <p>
                                          <h3><span th:text="${orderToken}">Token not found</span></h3>
                                          </p>
                                        </div>
                                      </div>
                                    </td>
                                  </tr>

                                </table>
                              </div>
                            </div>
                          </div>
                        </td>
                      </tr>
                    </table>
                  </div>
                </td>
              </tr>

            </table>
          </td>
          <td width='40'></td>
        </tr>

        <tr><td height='88'></td></tr>
      </table>
    </td>
  </tr>
</table>

</body>
</html>